body {
    background-color: #DDFF00;
}
h1, p {
    text-align: center;
}
.navbar {
    width: auto;
    margin: auto;
    text-align: center;
}
.navbar li {
    display:inline;
    margin: 10px;
} .navbar li a {
    text-decoration: none;
    color:black;
    padding: 10px;
    border-radius: 3px;

}.navbar li a:hover {
    background-color: indigo;
    color: white;
    
}
input {
    padding: 5px 10px;
}
.taskDiv { 
    background-color: #FFCA00;
    width: 20%;
    position: relative;
    left: 40%;
    border-radius: 5px;
    padding: 10px;;
}