<!-- Person 2 Här behövs kod för att extenda navbaren från mainsite-->
{% %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Person 2 Nedan behövs href ändras så den hämtar static-filen från rätt ställe-->
    {% block extrahead %}<link rel="stylesheet" href="{% static '' %}">{% endblock %}
    <!-- Person 2 Nedan behövs texten ändras till Register-->
    <title>blabla</title>
</head>
<body>
    
{% block content %}
<h1>Create user</h1>
<form method="POST" action="">
    {% csrf_token %}

    {{form}}
    
    <input type="submit" value="Registrera dig">
</form>
{% endblock %}
</body>
</html>