{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'Extra/style.css' %}">
</head>
<body class="mainBody">
    <div id="Kim_Dojo" class="text">
        <h1>Welcome to Kim Kaphwan's dojo</h1>
        <img src="{% static 'Extra/Kim_stance.gif' %}">
        <img src="{% static 'Extra/Chang_stance.gif' %}">
        <img src="{% static 'Extra/Choi_stance.gif' %}">
    </div>
    
    <br><a href="http://127.0.0.1:8000/Hello/home/">Home Page</a><br>
    <a href="http://127.0.0.1:8000/Hello/about/">About Page</a><br>
    <a href="http://127.0.0.1:8000/Hello/contact/">Contact Page</a><br>
    <a href="http://127.0.0.1:8000/Hello/forms/">Forms Page</a><br>
    
    {% block title %}
        {% if user.is_authenticated %}
            <p>You are logged in, but are you ready for your Taekwando training?</p>
        {% else %}
            <p>You are not logged in, log in to start your training.</p>
        {% endif %}
    {% endblock %}
    
        {% block content %}
        <div>Skriv något efter home/ i urlen för att se en lista
            <p>Detta kan förändras</p>
            <ul>
                {% for frukt in lista %}
                <li>{{ frukt }}</li>
                {% endfor%}
                <li> odynamisk </li>
            </ul>
            <head>
                <title>{{pageTitle}}</title>
            </head>       
        </div>
        {% endblock %} 
        {% if user.is_authenticated %}
            <p>You are logged in.</p>
        {% else %}
            <a href="/login">Login Here</a>
        {% endif %}
    
        
</body>
</html>